<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <link href="/blog/feed.xml" rel="alternate" type="application/atom+xml" title="Echo3 - Blog" />
    
    <title><%= current_page.data.title || "Echo3 Web Framework" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
   
    <%= stylesheet_link_tag 'bootstrap.min' %>
    <%= stylesheet_link_tag 'echo' %>
    <%= stylesheet_link_tag 'font-awesome' %>
    <%= stylesheet_link_tag 'font-awesome-modern' %>
    
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <%= javascript_include_tag 'bootstrap.min' %>

    <%= yield_content :assets %>
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <%= yield_content :head %>
</head>
<body class="<%= page_classes %>" data-spy="scroll" data-target=".subnav" data-offset="50" screen_capture_injected="true">
	<div class="container">
		<!-- Navbar -->
		<div style="background: #fff" class="navbar">
		  <a style="padding-top: 5px; margin: 0;" class="navbar-brand" href="/"><img style="height: 40px" src="/assets/img/logo-dark.png"/></a>
		  <ul class="nav navbar-nav">
			<li style="background-color: #094AB2"><a href="/about">about</a></li>
			<li style="background-color: #008A00"><a href="/downloads">downloads</a></li>
			<li style="background-color: #D24726"><a href="/demo">demo</a></li>
			<li style="background-color: #008299"><a href="/documentation">documentation</a></li>
			<li style="background-color: #AC193D"><a href="/community">community</a></li>
			<li style="background-color: #D24726"><a href="/blog">blog</a></li>
		  </ul>
		</div>
	
		<!-- Content -->
		<div class="content-wrapper">   
		  <% sidebar = rendered_partial_for(:sidebar) || yield_content(:sidebar) %>
		  <% if sidebar %>
		    <div class="row">
				<div class="col-lg-3">
					<div id="sidebar">
					<%= sidebar %>
					</div>
				</div>
				<div class="col-lg-9">
					<%= yield %>
				</div>
			</div>
		  <% else %>
			<%= yield %>
		  <% end %>
		</div>

		<!-- Footer -->
        <footer class="footer">
			<hr/>
			<div class="row">
				<div class="col-lg-4">
					<small class="copyright">
					Echo and NextApp are registered trademarks of NextApp, Inc. 
					</small>
				</div>
				<div class="col-lg-4">
					
				</div>
				<div class="col-lg-4 text-right">
					<a style="color: #333; text-decoration: none" href="#echo3twitter"><i class="icon-twitter icon-modern-rounded icon-2x"></i></a>
					<a style="color: #333; text-decoration: none" href="http://github.com/echo3"><i class="icon-github icon-modern-rounded icon-2x"></i></a>
					<a style="color: #333; text-decoration: none" href="#googleplus"><i class="icon-google-plus icon-modern-rounded icon-2x"></i></a>
				</div>
			</div>
      </footer>
    </div>
</body>
</html>
