---
title: Welcome to Echo3
---

	<% content_for :assets do %>
	  <%= stylesheet_link_tag 'blog' %>
	  <%= stylesheet_link_tag 'jquery.bxslider' %>
	  <%= javascript_include_tag 'jquery.bxslider.min' %>
	<% end %>

<div class="jumbotron"> 
  <div class="row">
	  <div class="col-lg-10">
	  <h1>Echo3</h1>
	  </div>
	  <div class="col-lg-2">
		  <img style="width: 100px" src="assets/img/logo.png"/>
	  </div>
	  <div style="margin-top: 1em;" class="col-lg-9">
	  	  <p>Empower your browser, spare your backend. Echo3 is a <a href="<%= url_for 'downloads.html' %>">free and open-source</a>, 
	  <a href="<%= url_for 'about.html' %>">JavaScript-based client</a> and <a href="<%= url_for 'about.html' %>">Java-based server</a>
	  web application framework with blazing performance and simplicity.</p>
	  <p style="margin-top: 1em"><a style="width: 100px" class="btn btn-primary" href="about">Learn more</a> <a style="width: 100px" class="btn btn-primary" href="downloads">Download</a></p> 
	  </div>
  </div>
</div>

<div class="row">
	<div class="col-lg-4">
		<div class="col-lg-2"><a style="text-decoration: none; color: #333" href="demo"><h3><i class="icon-camera icon-2x"></i></h3></a></div>
		<div class="col-lg-10">
			<h3>Demo</h3>
			<small>Explore Echo's features in demo applications</small>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="col-lg-2"><a style="text-decoration: none; color: #333" href="documentation"><h3><i class="icon-book icon-2x"></i></h3></a></div>
		<div class="col-lg-10">
			<h3>Developer's Guide</h3>
			<small>Get started developing Echo applications</small>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="col-lg-2"><a style="text-decoration: none; color: #333" href="documentation/api"><h3><i class="icon-cog icon-2x"></i></h3></a></div>
		<div class="col-lg-10">
			<h3>API</h3>
			<small>Comprehensive API documentation</small>
		</div>
	</div>
</div>
<div class="row" style="margin-top: 20px">
	<div class="col-lg-4">
		<div class="col-lg-2"><a style="text-decoration: none; color: #333" href="community"><h3><i class="icon-group icon-2x"></i></h3></a></div>
		<div class="col-lg-10">
			<h3>Community</h3>
			<small>Found a problem? Want a new feature? Get involved!</small>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="col-lg-2"><a style="text-decoration: none; color: #333" href="downloads"><h3><i class="icon-cloud-download icon-2x"></i></h3></a></div>
		<div class="col-lg-10">
			<h3>Downloads</h3>
			<small>Start developing now!</small>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="col-lg-2"><a style="text-decoration: none; color: #333" href="blog"><h3><i class="icon-pencil icon-2x"></i></h3></a></div>
		<div class="col-lg-10">
			<h3>Blog</h3>
			<small>Read news and articles about Echo</small>
		</div>
	</div>
</div>

<h3 style="margin-top: 2em; margin-bottom: 1.5em" class="text-center">Companies & Projects Using Echo3</h3>

<script>
$(document).ready(function(){
  $('.bxslider').bxSlider();
});
</script>
<ul class="bxslider">
  <li><img src="/assets/img/logo-dark.png" /></li>
  <li><img src="/assets/img/logo-dark.png" /></li>
  <li><img src="/assets/img/logo-dark.png" /></li>
  <li><img src="/assets/img/logo-dark.png" /></li>
</ul>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="assets/img/logo-dark.png" alt="...">
    </a>
  </div>
    <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="assets/img/logo-dark.png" alt="...">
    </a>
  </div>
    <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="assets/img/logo-dark.png" alt="...">
    </a>
  </div>
    <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="assets/img/logo-dark.png" alt="...">
    </a>
  </div>
</div>

<h3></h3>

<div  class="row">
  <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="assets/img/logo-dark.png" alt="...">
    </a>
  </div>
    <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="assets/img/logo-dark.png" alt="...">
    </a>
  </div>
    <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="assets/img/logo-dark.png" alt="...">
    </a>
  </div>
    <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="assets/img/logo-dark.png" alt="...">
    </a>
  </div>
</div>

<h3 style="margin-top: 2em"></h3>

<div class="row">
	<div class="col-lg-7">
		<h3 class="text-center">From the Blog</h3>
		<% blog.articles[0...3].each_with_index do |article, i| %>
		<article class="blog-post-summary">
		    <h3><%= link_to article.title, article %></h3>
		    		<% if article.data.author %>
			  <h5 class="blog-post-author"><time><%= article.date.strftime('%b %d, %Y') %></time></h5>
			<% end %>

		    <p class="blog-summary"><%= article.summary %></p>
		    <%= link_to "Read more...", article %>
		</article>
		<% end %>
	</div>
	<div class="col-lg-1"></div>
	<div class="col-lg-4">
		<h3 class="text-center">Latest tweets</h3>
		<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/ceari1" data-tweet-limit="3" data-widget-id="372284149135982593" data-chrome="noscrollbar noheader transparent">Tweets by @ceari1</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>



